In [1]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

url="http://www.phdstipends.com/results"

#get table to open
driver=webdriver.Firefox()
driver.get(url)

In [4]:
col=[]
page=0
def page_parser():
    stipend_soup=BeautifulSoup(driver.page_source, 'lxml')
    level1=stipend_soup.find('table',{'id':'mytable'})
    level2=level1.find('tbody')
    global page
    i = 0
    for stats in level2.findAll('td'):
        col.append(stats.get_text())
        i+=1
        #run for 350 items in table in 128 pages
        if i==350 and page<=128:
            page+=1
            try:
                #click to the next page and then run the function again
                driver.find_element_by_xpath('//*[@id="mytable_next"]/a').click()
                page_parser()
            except:
                pass
        else:
            pass
    
page_parser()

In [19]:
import pandas as pd
import numpy as np

stipend_stats=pd.DataFrame(np.reshape(col,(-1,7)))
stipend_stats.columns=["University",
                       "Subject",
                       "Stipend",
                       "LW Ratio",
                       "Academic Year",
                       "Program Year",
                       "Comments"]
stipend_stats.to_csv("stipend_stats.txt",sep='\t')
stipend_stats = pd.read_csv('Stipend_Stats.txt', sep='\t')

stipend_stats = stipend_stats.iloc[:,:-1].dropna().reset_index(drop=True)

In [20]:
import re 
  
#remove anything in parenthesis
def Clean_names(name): 
    if re.search(r'\([^)]*\)', str(name)): 
        pos = re.search(r'\([^)]*\)', str(name)).start() 
        return name[:pos] 
  
    else: 
        return name 

stipend_stats['University'] = stipend_stats['University'].apply(Clean_names) 
stipend_stats

,Unnamed: 0,University,Subject,Stipend,LW Ratio,Academic Year,Program Year
0,0,Duke University,Bioengineering,"$29,700",1.34,2018-2019,3rd
1,2,University of Colorado - Denver,Molecular Biology PhD,"$31,000",1.38,2019-2020,2nd
2,3,Michigan State University,Physics/Nuclear,"$33,000",1.61,2019-2020,1st
3,4,University of Denver,Mathematics,"$20,700",0.92,2019-2020,1st
4,5,University of California - Los Angeles,biology,"$42,000",1.62,2018-2019,1st
5,6,Oregon Health and Science University,Neuroscience,"$30,000",1.28,2018-2019,1st
6,7,Wake Forest University,Biomedical Informatics,"$45,000",2.06,2019-2020,1st
7,8,University of Arizona,Entomology,"$22,022",1.06,2018-2019,1st
8,9,University of Wisconsin - Madison,Computer Sciences,"$20,700",0.91,2019-2020,1st
9,10,Oregon State University,Microbiology,"$1,600",0.08,2018-2019,2nd
10,11,University of Central Florida,Mechanical Engineering,"$24,000",1.04,2019-2020,1st
11,14,University of Cincinnati,School Psychology,"$12,540",0.65,2018-2019,1st
12,15,Clark Atlanta University,Chemistry,"$17,100",0.73,2019-2020,1st
13,17,Yeshiva University,Biomedical Sciences,"$35,000",1.18,2018-2019,1st
14,18,Miami University,Mechanical Engineering,"$15,800",0.82,2019-2020,1st
15,19,Northeastern University,Electrical and Computer Engineering,"$33,007",1.15,2018-2019,2nd
16,20,Stanford University,Civil and Environmental Enineering,"$42,000",1.46,2019-2020,1st
17,21,University of California - Los Angeles,Electrical Engineering,"$28,000",1.08,2019-2020,1st
18,22,University of California - Berkeley,MCB,"$37,000",1.33,2019-2020,1st
19,23,University of Minnesota - Twin Cities,German Nordic Slavic and Dutch,"$23,500",1.03,2018-2019,1st
20,24,University of North Carolina - Chapel Hill,Biomedical Engineering,"$37,500",1.69,2019-2020,1st
21,25,University of California - Los Angeles,Linguistics,"$33,000",1.28,2019-2020,1st
22,26,Clemson University,Automotive,"$20,500",0.98,2018-2019,3rd
23,27,University of California - Los Angeles,Molecular Biology Interdepartmental Doctoral P...,"$33,500",1.29,2019-2020,1st
24,28,Duke University,Public Policy,"$25,000",1.12,2019-2020,1st
25,30,University of California - San Francisco,Chemistry and Chemical biology,"$40,000",1.34,2019-2020,1st
26,31,University of California - San Francisco,Chemistry and Chemical biology,"$40,000",1.34,2019-2020,1st
27,32,University of Cincinnati,Communication,"$12,550",0.65,2018-2019,1st
28,33,California Institute of Technology,Computing and Mathematical Sciences,"$35,000",1.35,2018-2019,4th
29,34,Duke University,University Program in Genetics and Genomics,"$31,800",1.43,2018-2019,3rd
...,...,...,...,...,...,...,...
4985,6316,New Mexico State University,Astronomy,"$18,058",1.07,2011-2012,2nd
4986,6317,New Mexico State University,Astronomy,"$14,842",0.88,2010-2011,1st
4987,6318,Georgia Institute of Technology,ECE,"$28,083",1.34,2014-2015,2nd
4988,6320,University of Connecticut,Ecology and Evolution,"$21,212",1.01,2013-2014,3rd
4989,6321,University of Connecticut,Ecology and Evolution,"$22,061",1.05,2014-2015,4th
4990,6322,University of Connecticut,Ecology and Evolutionary Biology,"$22,000",1.05,2014-2015,3rd
4991,6324,Georgia State University,Communication,"$15,000",0.71,2011-2012,3rd
4992,6325,University of Mississippi,Biology,"$19,000",1.09,2013-2014,5th
4993,6326,New Mexico State University,Astronomy,"$32,000",1.89,2014-2015,3rd
4994,6327,University of California - San Diego,Neurosciences,"$31,000",1.31,2013-2014,3rd
4995,6329,University of Washington,Chemistry,"$26,000",1.30,2012-2013,1st
4996,6330,University of Colorado - Boulder,EBIO,"$32,000",1.55,2014-2015,2nd
4997,6332,Georgia Institute of Technology,Biomedical Engineering,"$32,000",1.52,2013-2014,3rd
4998,6333,Georgia Institute of Technology,Mechanical Engineering,"$31,200",1.49,2013-2014,6th and up
4999,6334,Harvard University,Epidemiology,"$22,000",0.84,2013-2014,1st
5000,6335,Georgia Institute of Technology,Biomedical Engineering,"$28,000",1.33,2013-2014,4th
5001,6336,Georgia Institute of Technology,Aerospace Engineering,"$26,000",1.24,2013-2014,6th and up
5002,6337,University of Illinois - Urbana- Champaign,Computer Science,"$32,000",1.85,2013-2014,5th
5003,6338,Georgia Institute of Technology,Aerospace Engineering,"$33,000",1.57,2013-2014,4th
5004,6339,University of California - San Francisco,Neuroscience,"$32,000",1.20,2013-2014,3rd
5005,6340,Stanford University,Graduate School of Education,"$24,000",0.96,2013-2014,4th
5006,6341,Georgia Institute of Technology,Aerospace Engineering,"$33,360",1.59,2012-2013,6th and up
5007,6342,Georgia Institute of Technology,aerospace engineering,"$27,000",1.29,2012-2013,6th and up
5008,6344,Massachusetts Institute of Technology,Math,"$33,000",1.29,2013-2014,6th and up
5009,6345,Massachusetts Institute of Technology,Biology,"$34,000",1.33,2014-2015,6th and up
5010,6347,Duke University,Biochemistry,"$29,840",1.59,2012-2013,6th and up
5011,6348,University of Virginia,Chemical Engineering,"$32,000",1.63,2013-2014,4th
5012,6349,Duke University,Biomedical Engineering,"$32,000",1.70,2013-2014,2nd
5013,6350,University of Virginia,Chemical Engineering,"$25,000",1.28,2013-2014,4th
5014,6351,Duke University,Biomedical Engineering,"$27,850",1.48,2013-2014,6th and up

In [21]:
from geopy.geocoders import Nominatim
from tqdm import tqdm
import time

geolocator = Nominatim(user_agent="Stipend")
stipend_stats["Location"]=''

def get_locs(i):
    try:
        location = geolocator.geocode(stipend_stats["University"][i], addressdetails=True)
        loc = location.raw
        return(loc['address'])       
    except:
        print("ERROR")
        return('NA')

    
for i in tqdm(range(len(stipend_stats))):
    stipend_stats["Location"][i] = get_locs(i)
    stipend_stats.to_csv('Stipend.txt', sep='\t')
    time.sleep(.5)

  0%|                                                                                         | 0/5015 [00:00<?, ?it/s]c:\users\mattd\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  1%|▍                                                                             | 30/5015 [00:30<1:24:56,  1.02s/it]

ERROR

  1%|▌                                                                             | 34/5015 [00:34<1:24:41,  1.02s/it]

ERROR

  1%|▌                                                                             | 37/5015 [00:37<1:24:36,  1.02s/it]

ERROR

  1%|▌                                                                             | 38/5015 [00:38<1:25:05,  1.03s/it]

ERROR

  3%|██▎                                                                          | 154/5015 [02:37<1:28:32,  1.09s/it]

ERROR

  4%|██▋                                                                          | 179/5015 [03:02<1:22:07,  1.02s/it]

ERROR

  4%|███                                                                          | 196/5015 [03:20<1:22:09,  1.02s/it]

ERROR

  5%|███▍                                                                         | 226/5015 [03:51<1:20:57,  1.01s/it]

ERROR

  6%|████▌                                                                        | 301/5015 [05:08<1:19:48,  1.02s/it]

ERROR

  8%|██████▍                                                                      | 422/5015 [07:12<1:18:28,  1.03s/it]

ERROR

  9%|██████▌                                                                      | 429/5015 [07:19<1:17:59,  1.02s/it]

ERROR

 10%|███████▋                                                                     | 501/5015 [08:34<1:17:10,  1.03s/it]

ERROR

 11%|████████▌                                                                    | 561/5015 [09:36<1:15:53,  1.02s/it]

ERROR

 11%|████████▋                                                                    | 562/5015 [09:37<1:16:44,  1.03s/it]

ERROR

 12%|████████▉                                                                    | 583/5015 [10:01<1:24:50,  1.15s/it]

ERROR

 12%|█████████                                                                    | 593/5015 [10:16<1:53:21,  1.54s/it]

ERROR

 12%|█████████▏                                                                   | 597/5015 [10:21<1:29:42,  1.22s/it]

ERROR

 13%|██████████▏                                                                  | 660/5015 [11:30<1:21:04,  1.12s/it]

ERROR

 14%|███████████                                                                  | 717/5015 [12:30<1:13:14,  1.02s/it]

ERROR

 14%|███████████                                                                  | 719/5015 [12:33<1:13:36,  1.03s/it]

ERROR

 15%|███████████▉                                                                 | 776/5015 [13:32<1:12:40,  1.03s/it]

ERROR

 15%|███████████▉                                                                 | 777/5015 [13:33<1:13:15,  1.04s/it]

ERROR

 16%|████████████                                                                 | 787/5015 [13:43<1:12:19,  1.03s/it]

ERROR

 17%|████████████▉                                                                | 843/5015 [14:41<1:11:07,  1.02s/it]

ERROR

 17%|█████████████                                                                | 850/5015 [14:48<1:11:38,  1.03s/it]

ERROR

 17%|█████████████▎                                                               | 865/5015 [15:04<1:11:35,  1.04s/it]

ERROR

 17%|█████████████▎                                                               | 866/5015 [15:05<1:12:00,  1.04s/it]

ERROR

 18%|█████████████▋                                                               | 888/5015 [15:28<1:14:51,  1.09s/it]

ERROR

 18%|██████████████▏                                                              | 922/5015 [16:03<1:12:29,  1.06s/it]

ERROR

 20%|███████████████▎                                                             | 998/5015 [17:29<1:12:54,  1.09s/it]

ERROR

 20%|███████████████▍                                                            | 1016/5015 [17:50<1:21:20,  1.22s/it]

ERROR

 21%|███████████████▋                                                            | 1034/5015 [18:11<1:17:43,  1.17s/it]

ERROR

 21%|███████████████▉                                                            | 1049/5015 [18:29<1:18:32,  1.19s/it]

ERROR

 22%|████████████████▌                                                           | 1089/5015 [19:15<1:14:32,  1.14s/it]

ERROR

 22%|████████████████▋                                                           | 1103/5015 [19:31<1:16:20,  1.17s/it]

ERROR

 22%|████████████████▋                                                           | 1104/5015 [19:32<1:19:29,  1.22s/it]

ERROR

 22%|████████████████▋                                                           | 1105/5015 [19:34<1:18:11,  1.20s/it]

ERROR

 22%|████████████████▊                                                           | 1108/5015 [19:37<1:20:25,  1.23s/it]

ERROR

 22%|████████████████▉                                                           | 1121/5015 [19:52<1:14:49,  1.15s/it]

ERROR

 23%|█████████████████▊                                                          | 1178/5015 [20:56<1:08:01,  1.06s/it]

ERROR

 24%|█████████████████▉                                                          | 1187/5015 [21:07<1:11:15,  1.12s/it]

ERROR

 24%|██████████████████▎                                                         | 1206/5015 [21:29<1:15:26,  1.19s/it]

ERROR

 24%|██████████████████▍                                                         | 1220/5015 [21:44<1:07:57,  1.07s/it]

ERROR

 25%|███████████████████▎                                                        | 1273/5015 [22:45<1:17:57,  1.25s/it]

ERROR

 26%|███████████████████▍                                                        | 1281/5015 [22:55<1:13:13,  1.18s/it]

ERROR

 26%|███████████████████▍                                                        | 1282/5015 [22:56<1:14:34,  1.20s/it]

ERROR

 26%|███████████████████▋                                                        | 1300/5015 [23:16<1:06:34,  1.08s/it]

ERROR

 26%|███████████████████▋                                                        | 1301/5015 [23:17<1:06:32,  1.07s/it]

ERROR

 26%|███████████████████▋                                                        | 1303/5015 [23:19<1:11:51,  1.16s/it]

ERROR

 27%|████████████████████▎                                                       | 1339/5015 [24:00<1:07:05,  1.09s/it]

ERROR

 27%|████████████████████▌                                                       | 1360/5015 [24:26<1:09:40,  1.14s/it]

ERROR

 27%|████████████████████▊                                                       | 1374/5015 [24:42<1:07:22,  1.11s/it]

ERROR

 28%|████████████████████▉                                                       | 1380/5015 [24:48<1:07:19,  1.11s/it]

ERROR

 28%|████████████████████▉                                                       | 1384/5015 [24:53<1:10:20,  1.16s/it]

ERROR

 28%|█████████████████████                                                       | 1391/5015 [25:01<1:11:26,  1.18s/it]

ERROR

 28%|█████████████████████                                                       | 1393/5015 [25:04<1:12:04,  1.19s/it]

ERROR

 28%|█████████████████████▎                                                      | 1407/5015 [25:20<1:08:21,  1.14s/it]

ERROR

 28%|█████████████████████▌                                                      | 1423/5015 [25:38<1:06:42,  1.11s/it]

ERROR

 29%|█████████████████████▉                                                      | 1451/5015 [26:10<1:05:56,  1.11s/it]

ERROR

 29%|██████████████████████▏                                                     | 1461/5015 [26:21<1:07:39,  1.14s/it]

ERROR

 29%|██████████████████████▎                                                     | 1469/5015 [26:30<1:05:25,  1.11s/it]

ERROR

 30%|██████████████████████▌                                                     | 1486/5015 [26:50<1:06:14,  1.13s/it]

ERROR

 30%|██████████████████████▉                                                     | 1513/5015 [27:22<1:06:18,  1.14s/it]

ERROR

 30%|███████████████████████                                                     | 1519/5015 [27:29<1:03:48,  1.10s/it]

ERROR

 31%|███████████████████████▊                                                    | 1575/5015 [28:36<1:04:25,  1.12s/it]

ERROR

 31%|███████████████████████▉                                                    | 1576/5015 [28:38<1:15:12,  1.31s/it]

ERROR

 31%|███████████████████████▉                                                    | 1577/5015 [28:39<1:12:53,  1.27s/it]

ERROR

 32%|████████████████████████▏                                                   | 1599/5015 [29:06<1:05:22,  1.15s/it]

ERROR

 32%|████████████████████████▍                                                   | 1609/5015 [29:17<1:04:35,  1.14s/it]

ERROR

 32%|████████████████████████▍                                                   | 1611/5015 [29:20<1:14:13,  1.31s/it]

ERROR

 32%|████████████████████████▋                                                   | 1627/5015 [29:39<1:03:40,  1.13s/it]

ERROR

 33%|████████████████████████▉                                                   | 1648/5015 [30:04<1:05:59,  1.18s/it]

ERROR

 33%|█████████████████████████▏                                                  | 1662/5015 [30:21<1:06:32,  1.19s/it]

ERROR

 34%|█████████████████████████▌                                                  | 1686/5015 [30:50<1:05:52,  1.19s/it]

ERROR

 34%|█████████████████████████▋                                                  | 1694/5015 [30:59<1:02:33,  1.13s/it]

ERROR

 35%|██████████████████████████▎                                                 | 1735/5015 [31:47<1:05:56,  1.21s/it]

ERROR

 35%|██████████████████████████▍                                                 | 1745/5015 [31:59<1:01:56,  1.14s/it]

ERROR

 35%|██████████████████████████▋                                                 | 1762/5015 [32:18<1:06:03,  1.22s/it]

ERROR

 36%|███████████████████████████                                                 | 1788/5015 [32:49<1:05:52,  1.22s/it]

ERROR

 36%|███████████████████████████▍                                                | 1810/5015 [33:15<1:02:52,  1.18s/it]

ERROR

 36%|███████████████████████████▍                                                | 1814/5015 [33:19<1:03:52,  1.20s/it]

ERROR

 37%|████████████████████████████▋                                                 | 1842/5015 [33:51<58:41,  1.11s/it]

ERROR

 37%|████████████████████████████▏                                               | 1857/5015 [34:08<1:00:02,  1.14s/it]

ERROR

 37%|████████████████████████████▏                                               | 1864/5015 [34:16<1:01:00,  1.16s/it]

ERROR

 37%|████████████████████████████▍                                               | 1880/5015 [34:35<1:00:45,  1.16s/it]

ERROR

 38%|█████████████████████████████▌                                                | 1900/5015 [34:58<57:01,  1.10s/it]

ERROR

 38%|█████████████████████████████▋                                                | 1909/5015 [35:08<58:34,  1.13s/it]

ERROR

 39%|██████████████████████████████▊                                               | 1979/5015 [36:28<57:07,  1.13s/it]

ERROR

 40%|██████████████████████████████▉                                               | 1993/5015 [36:44<55:32,  1.10s/it]

ERROR

 40%|███████████████████████████████                                               | 1995/5015 [36:46<56:26,  1.12s/it]

ERROR

 40%|███████████████████████████████                                               | 1996/5015 [36:47<56:31,  1.12s/it]

ERROR

 40%|██████████████████████████████▌                                             | 2017/5015 [37:12<1:01:24,  1.23s/it]

ERROR

 40%|███████████████████████████████▌                                              | 2026/5015 [37:22<57:52,  1.16s/it]

ERROR

 41%|███████████████████████████████▊                                              | 2044/5015 [37:43<57:27,  1.16s/it]

ERROR

 41%|████████████████████████████████▏                                             | 2073/5015 [38:17<55:31,  1.13s/it]

ERROR

 41%|████████████████████████████████▎                                             | 2075/5015 [38:20<57:55,  1.18s/it]

ERROR

 42%|████████████████████████████████▋                                             | 2102/5015 [38:51<55:01,  1.13s/it]

ERROR

 42%|████████████████████████████████▊                                             | 2112/5015 [39:03<56:04,  1.16s/it]

ERROR

 42%|█████████████████████████████████                                             | 2129/5015 [39:22<54:27,  1.13s/it]

ERROR

 43%|█████████████████████████████████▏                                            | 2137/5015 [39:31<54:26,  1.13s/it]

ERROR

 44%|██████████████████████████████████▍                                           | 2214/5015 [41:02<59:24,  1.27s/it]

ERROR

 44%|██████████████████████████████████▌                                           | 2225/5015 [41:15<55:11,  1.19s/it]

ERROR

 45%|███████████████████████████████████                                           | 2255/5015 [41:49<55:22,  1.20s/it]

ERROR

 46%|███████████████████████████████████▋                                          | 2292/5015 [42:37<51:24,  1.13s/it]

ERROR

 46%|████████████████████████████████████▏                                         | 2329/5015 [43:20<51:00,  1.14s/it]

ERROR

 47%|████████████████████████████████████▍                                         | 2341/5015 [43:34<52:45,  1.18s/it]

ERROR

 47%|████████████████████████████████████▋                                         | 2357/5015 [43:54<50:31,  1.14s/it]

ERROR

 47%|████████████████████████████████████▉                                         | 2378/5015 [44:18<50:49,  1.16s/it]

ERROR

 48%|█████████████████████████████████████▎                                        | 2398/5015 [44:42<51:27,  1.18s/it]

ERROR

 49%|██████████████████████████████████████▏                                       | 2457/5015 [45:52<58:05,  1.36s/it]

ERROR

 50%|██████████████████████████████████████▋                                       | 2485/5015 [46:25<49:56,  1.18s/it]

ERROR

 50%|██████████████████████████████████████▋                                       | 2486/5015 [46:27<50:45,  1.20s/it]

ERROR

 51%|███████████████████████████████████████▍                                      | 2534/5015 [47:23<47:34,  1.15s/it]

ERROR

 51%|████████████████████████████████████████                                      | 2579/5015 [48:16<50:26,  1.24s/it]

ERROR

 52%|████████████████████████████████████████▏                                     | 2585/5015 [48:23<47:30,  1.17s/it]

ERROR

 52%|████████████████████████████████████████▎                                     | 2594/5015 [48:33<44:42,  1.11s/it]

ERROR

 52%|████████████████████████████████████████▍                                     | 2600/5015 [48:41<48:23,  1.20s/it]

ERROR

 52%|████████████████████████████████████████▌                                     | 2607/5015 [48:49<46:14,  1.15s/it]

ERROR

 52%|████████████████████████████████████████▋                                     | 2620/5015 [49:04<45:09,  1.13s/it]

ERROR

 53%|█████████████████████████████████████████▎                                    | 2660/5015 [49:50<44:56,  1.14s/it]

ERROR

 53%|█████████████████████████████████████████▋                                    | 2678/5015 [50:10<43:32,  1.12s/it]

ERROR

 54%|█████████████████████████████████████████▊                                    | 2688/5015 [50:22<44:14,  1.14s/it]

ERROR

 55%|██████████████████████████████████████████▊                                   | 2749/5015 [51:32<43:57,  1.16s/it]

ERROR

 55%|██████████████████████████████████████████▉                                   | 2763/5015 [51:48<42:27,  1.13s/it]

ERROR

 55%|███████████████████████████████████████████                                   | 2771/5015 [51:57<42:49,  1.15s/it]

ERROR

 56%|███████████████████████████████████████████▌                                  | 2800/5015 [52:30<42:21,  1.15s/it]

ERROR

 56%|███████████████████████████████████████████▊                                  | 2820/5015 [52:53<40:42,  1.11s/it]

ERROR

 57%|████████████████████████████████████████████▏                                 | 2839/5015 [53:15<42:53,  1.18s/it]

ERROR

 57%|████████████████████████████████████████████▌                                 | 2864/5015 [53:44<41:42,  1.16s/it]

ERROR

 58%|████████████████████████████████████████████▉                                 | 2888/5015 [54:12<41:11,  1.16s/it]

ERROR

 58%|████████████████████████████████████████████▉                                 | 2893/5015 [54:17<40:30,  1.15s/it]

ERROR

 58%|█████████████████████████████████████████████                                 | 2896/5015 [54:21<40:14,  1.14s/it]

ERROR

 58%|█████████████████████████████████████████████▍                                | 2920/5015 [54:49<45:17,  1.30s/it]

ERROR

 58%|█████████████████████████████████████████████▌                                | 2926/5015 [54:56<41:31,  1.19s/it]

ERROR

 58%|█████████████████████████████████████████████▌                                | 2931/5015 [55:02<40:48,  1.17s/it]

ERROR

 59%|█████████████████████████████████████████████▊                                | 2948/5015 [55:23<42:23,  1.23s/it]

ERROR

 60%|██████████████████████████████████████████████▍                               | 2987/5015 [56:07<36:37,  1.08s/it]

ERROR

 60%|██████████████████████████████████████████████▉                               | 3015/5015 [56:38<39:20,  1.18s/it]

ERROR

 61%|███████████████████████████████████████████████▍                              | 3053/5015 [57:20<35:23,  1.08s/it]

ERROR

 61%|███████████████████████████████████████████████▌                              | 3062/5015 [57:30<34:16,  1.05s/it]

ERROR

 61%|███████████████████████████████████████████████▊                              | 3078/5015 [57:47<37:23,  1.16s/it]

ERROR

 61%|███████████████████████████████████████████████▉                              | 3079/5015 [57:49<37:26,  1.16s/it]

ERROR

 62%|████████████████████████████████████████████████▎                             | 3106/5015 [58:19<35:53,  1.13s/it]

ERROR

 62%|████████████████████████████████████████████████▎                             | 3110/5015 [58:23<34:33,  1.09s/it]

ERROR

 62%|████████████████████████████████████████████████▍                             | 3112/5015 [58:25<34:03,  1.07s/it]

ERROR

 63%|█████████████████████████████████████████████████▎                            | 3171/5015 [59:28<33:44,  1.10s/it]

ERROR

 63%|█████████████████████████████████████████████████▍                            | 3181/5015 [59:39<32:09,  1.05s/it]

ERROR

 64%|█████████████████████████████████████████████████▌                            | 3189/5015 [59:47<32:22,  1.06s/it]

ERROR

 65%|█████████████████████████████████████████████████                           | 3239/5015 [1:00:40<31:21,  1.06s/it]

ERROR

 66%|█████████████████████████████████████████████████▊                          | 3289/5015 [1:01:33<30:23,  1.06s/it]

ERROR

 66%|█████████████████████████████████████████████████▊                          | 3291/5015 [1:01:35<30:21,  1.06s/it]

ERROR

 66%|██████████████████████████████████████████████████                          | 3303/5015 [1:01:48<30:03,  1.05s/it]

ERROR

 67%|██████████████████████████████████████████████████▊                         | 3349/5015 [1:02:36<29:05,  1.05s/it]

ERROR

 67%|██████████████████████████████████████████████████▊                         | 3351/5015 [1:02:39<29:16,  1.06s/it]

ERROR

 67%|██████████████████████████████████████████████████▊                         | 3354/5015 [1:02:42<29:25,  1.06s/it]

ERROR

 67%|███████████████████████████████████████████████████                         | 3367/5015 [1:02:56<28:59,  1.06s/it]

ERROR

 68%|███████████████████████████████████████████████████▋                        | 3413/5015 [1:03:46<31:49,  1.19s/it]

ERROR

 69%|████████████████████████████████████████████████████▎                       | 3454/5015 [1:04:29<27:28,  1.06s/it]

ERROR

 69%|████████████████████████████████████████████████████▎                       | 3455/5015 [1:04:30<27:35,  1.06s/it]

ERROR

 69%|████████████████████████████████████████████████████▍                       | 3460/5015 [1:04:36<27:35,  1.06s/it]

ERROR

 69%|████████████████████████████████████████████████████▋                       | 3473/5015 [1:04:50<27:31,  1.07s/it]

ERROR

 70%|█████████████████████████████████████████████████████                       | 3499/5015 [1:05:18<27:37,  1.09s/it]

ERROR

 70%|█████████████████████████████████████████████████████                       | 3504/5015 [1:05:24<28:18,  1.12s/it]

ERROR

 70%|█████████████████████████████████████████████████████▌                      | 3532/5015 [1:05:54<26:02,  1.05s/it]

ERROR

 71%|█████████████████████████████████████████████████████▊                      | 3547/5015 [1:06:10<26:03,  1.07s/it]

ERROR

 71%|█████████████████████████████████████████████████████▊                      | 3548/5015 [1:06:11<26:13,  1.07s/it]

ERROR

 71%|█████████████████████████████████████████████████████▊                      | 3549/5015 [1:06:13<26:17,  1.08s/it]

ERROR

 71%|█████████████████████████████████████████████████████▊                      | 3550/5015 [1:06:14<26:24,  1.08s/it]

ERROR

 71%|█████████████████████████████████████████████████████▊                      | 3551/5015 [1:06:15<26:36,  1.09s/it]

ERROR

 71%|█████████████████████████████████████████████████████▊                      | 3552/5015 [1:06:16<26:25,  1.08s/it]

ERROR

 71%|█████████████████████████████████████████████████████▉                      | 3561/5015 [1:06:25<25:58,  1.07s/it]

ERROR

 71%|██████████████████████████████████████████████████████▎                     | 3581/5015 [1:06:49<26:35,  1.11s/it]

ERROR

 71%|██████████████████████████████████████████████████████▎                     | 3583/5015 [1:06:53<39:53,  1.67s/it]

ERROR

 72%|██████████████████████████████████████████████████████▊                     | 3620/5015 [1:07:45<32:49,  1.41s/it]

ERROR

 72%|███████████████████████████████████████████████████████                     | 3632/5015 [1:07:58<24:37,  1.07s/it]

ERROR

 73%|███████████████████████████████████████████████████████▎                    | 3646/5015 [1:08:13<24:06,  1.06s/it]

ERROR

 74%|████████████████████████████████████████████████████████                    | 3700/5015 [1:09:10<23:15,  1.06s/it]

ERROR

 74%|████████████████████████████████████████████████████████▏                   | 3707/5015 [1:09:18<23:09,  1.06s/it]

ERROR

 74%|████████████████████████████████████████████████████████▎                   | 3719/5015 [1:09:31<22:53,  1.06s/it]

ERROR

 74%|████████████████████████████████████████████████████████▍                   | 3721/5015 [1:09:33<23:01,  1.07s/it]

ERROR

 74%|████████████████████████████████████████████████████████▍                   | 3726/5015 [1:09:38<22:53,  1.07s/it]

ERROR

 74%|████████████████████████████████████████████████████████▌                   | 3736/5015 [1:09:49<22:35,  1.06s/it]

ERROR

 75%|████████████████████████████████████████████████████████▉                   | 3755/5015 [1:10:09<22:49,  1.09s/it]

ERROR

 75%|████████████████████████████████████████████████████████▉                   | 3761/5015 [1:10:16<22:48,  1.09s/it]

ERROR

 75%|█████████████████████████████████████████████████████████▏                  | 3775/5015 [1:10:31<22:13,  1.08s/it]

ERROR

 75%|█████████████████████████████████████████████████████████▏                  | 3776/5015 [1:10:32<22:30,  1.09s/it]

ERROR

 75%|█████████████████████████████████████████████████████████▎                  | 3778/5015 [1:10:34<22:30,  1.09s/it]

ERROR

 75%|█████████████████████████████████████████████████████████▎                  | 3781/5015 [1:10:37<22:18,  1.08s/it]

ERROR

 76%|█████████████████████████████████████████████████████████▌                  | 3799/5015 [1:10:57<22:16,  1.10s/it]

ERROR

 76%|██████████████████████████████████████████████████████████                  | 3835/5015 [1:11:36<20:59,  1.07s/it]

ERROR

 77%|██████████████████████████████████████████████████████████▊                 | 3878/5015 [1:12:22<20:55,  1.10s/it]

ERROR

 77%|██████████████████████████████████████████████████████████▊                 | 3880/5015 [1:12:24<20:47,  1.10s/it]

ERROR

 78%|███████████████████████████████████████████████████████████                 | 3898/5015 [1:12:44<20:31,  1.10s/it]

ERROR

 78%|███████████████████████████████████████████████████████████▎                | 3916/5015 [1:13:04<19:37,  1.07s/it]

ERROR

 80%|████████████████████████████████████████████████████████████▍               | 3992/5015 [1:14:25<18:20,  1.08s/it]

ERROR

 81%|█████████████████████████████████████████████████████████████▍              | 4058/5015 [1:15:37<17:04,  1.07s/it]

ERROR

 81%|█████████████████████████████████████████████████████████████▌              | 4059/5015 [1:15:38<17:19,  1.09s/it]

ERROR

 83%|██████████████████████████████████████████████████████████████▊             | 4142/5015 [1:17:07<15:23,  1.06s/it]

ERROR

 83%|███████████████████████████████████████████████████████████████▎            | 4180/5015 [1:17:47<14:44,  1.06s/it]

ERROR

 85%|████████████████████████████████████████████████████████████████▍           | 4252/5015 [1:19:04<13:35,  1.07s/it]

ERROR

 85%|████████████████████████████████████████████████████████████████▋           | 4266/5015 [1:19:19<13:25,  1.07s/it]

ERROR

 85%|████████████████████████████████████████████████████████████████▊           | 4275/5015 [1:19:29<13:00,  1.05s/it]

ERROR

 85%|████████████████████████████████████████████████████████████████▊           | 4276/5015 [1:19:30<13:10,  1.07s/it]

ERROR

 85%|████████████████████████████████████████████████████████████████▉           | 4283/5015 [1:19:37<13:00,  1.07s/it]

ERROR

 86%|█████████████████████████████████████████████████████████████████           | 4292/5015 [1:19:47<12:55,  1.07s/it]

ERROR

 86%|█████████████████████████████████████████████████████████████████▍          | 4315/5015 [1:20:12<12:55,  1.11s/it]

ERROR

 86%|█████████████████████████████████████████████████████████████████▍          | 4318/5015 [1:20:16<13:06,  1.13s/it]

ERROR

 86%|█████████████████████████████████████████████████████████████████▌          | 4330/5015 [1:20:29<12:10,  1.07s/it]

ERROR

 87%|█████████████████████████████████████████████████████████████████▊          | 4345/5015 [1:20:45<11:54,  1.07s/it]

ERROR

 87%|██████████████████████████████████████████████████████████████████▍         | 4384/5015 [1:21:27<11:16,  1.07s/it]

ERROR

 89%|███████████████████████████████████████████████████████████████████▌        | 4456/5015 [1:22:46<10:00,  1.07s/it]

ERROR

 90%|████████████████████████████████████████████████████████████████████▎       | 4506/5015 [1:23:40<09:00,  1.06s/it]

ERROR

 90%|████████████████████████████████████████████████████████████████████▎       | 4507/5015 [1:23:41<09:02,  1.07s/it]

ERROR

 90%|████████████████████████████████████████████████████████████████████▌       | 4522/5015 [1:23:58<08:43,  1.06s/it]

ERROR

 91%|█████████████████████████████████████████████████████████████████████       | 4556/5015 [1:24:34<08:15,  1.08s/it]

ERROR

 92%|█████████████████████████████████████████████████████████████████████▌      | 4591/5015 [1:25:12<07:43,  1.09s/it]

ERROR

 96%|████████████████████████████████████████████████████████████████████████▉   | 4816/5015 [1:29:13<03:31,  1.06s/it]

ERROR

 97%|█████████████████████████████████████████████████████████████████████████▍  | 4842/5015 [1:29:41<03:04,  1.06s/it]

ERROR

100%|████████████████████████████████████████████████████████████████████████████| 5015/5015 [1:32:48<00:00,  1.08s/it]

In [23]:
#stipend_stats.to_csv('Stipend_Stats.txt', sep='\t')
stipend_stats = pd.read_csv('Stipend.txt', sep='\t')
stipend_stats

,Unnamed: 0,Unnamed: 0.1,University,Subject,Stipend,LW Ratio,Academic Year,Program Year,Location
0,0,0,Duke University,Bioengineering,"$29,700",1.34,2018-2019,3rd,"{'university': 'Duke University', 'pedestrian'..."
1,1,2,University of Colorado - Denver,Molecular Biology PhD,"$31,000",1.38,2019-2020,2nd,{'university': 'University of Colorado Denver'...
2,2,3,Michigan State University,Physics/Nuclear,"$33,000",1.61,2019-2020,1st,"{'university': 'Michigan State University', 'r..."
3,3,4,University of Denver,Mathematics,"$20,700",0.92,2019-2020,1st,"{'university': 'University of Denver', 'footwa..."
4,4,5,University of California - Los Angeles,biology,"$42,000",1.62,2018-2019,1st,{'university': 'University of California - Los...
5,5,6,Oregon Health and Science University,Neuroscience,"$30,000",1.28,2018-2019,1st,{'address29': 'Oregon Health & Science Univers...
6,6,7,Wake Forest University,Biomedical Informatics,"$45,000",2.06,2019-2020,1st,"{'university': 'Wake Forest University', 'road..."
7,7,8,University of Arizona,Entomology,"$22,022",1.06,2018-2019,1st,"{'university': 'University of Arizona', 'road'..."
8,8,9,University of Wisconsin - Madison,Computer Sciences,"$20,700",0.91,2019-2020,1st,{'university': 'University of Wisconsin-Madiso...
9,9,10,Oregon State University,Microbiology,"$1,600",0.08,2018-2019,2nd,"{'clothes': 'OSU Beaver Store', 'house_number'..."
10,10,11,University of Central Florida,Mechanical Engineering,"$24,000",1.04,2019-2020,1st,{'university': 'University of Central Florida'...
11,11,14,University of Cincinnati,School Psychology,"$12,540",0.65,2018-2019,1st,"{'university': 'UC', 'road': 'West University ..."
12,12,15,Clark Atlanta University,Chemistry,"$17,100",0.73,2019-2020,1st,"{'university': 'Clark Atlanta University', 'ro..."
13,13,17,Yeshiva University,Biomedical Sciences,"$35,000",1.18,2018-2019,1st,"{'school': 'Yeshiva University', 'road': 'Sout..."
14,14,18,Miami University,Mechanical Engineering,"$15,800",0.82,2019-2020,1st,"{'university': 'MU', 'road': 'East Vine Street..."
15,15,19,Northeastern University,Electrical and Computer Engineering,"$33,007",1.15,2018-2019,2nd,"{'university': 'Northeastern University', 'roa..."
16,16,20,Stanford University,Civil and Environmental Enineering,"$42,000",1.46,2019-2020,1st,"{'university': 'Stanford University', 'road': ..."
17,17,21,University of California - Los Angeles,Electrical Engineering,"$28,000",1.08,2019-2020,1st,{'university': 'University of California - Los...
18,18,22,University of California - Berkeley,MCB,"$37,000",1.33,2019-2020,1st,"{'university': 'UC Berkeley', 'road': 'Centenn..."
19,19,23,University of Minnesota - Twin Cities,German Nordic Slavic and Dutch,"$23,500",1.03,2018-2019,1st,"{'university': 'UMN', 'road': 'North Brompton ..."
20,20,24,University of North Carolina - Chapel Hill,Biomedical Engineering,"$37,500",1.69,2019-2020,1st,"{'university': 'UNC-Chapel Hill', 'road': 'Ehr..."
21,21,25,University of California - Los Angeles,Linguistics,"$33,000",1.28,2019-2020,1st,{'university': 'University of California - Los...
22,22,26,Clemson University,Automotive,"$20,500",0.98,2018-2019,3rd,"{'university': 'Clemson University', 'road': '..."
23,23,27,University of California - Los Angeles,Molecular Biology Interdepartmental Doctoral P...,"$33,500",1.29,2019-2020,1st,{'university': 'University of California - Los...
24,24,28,Duke University,Public Policy,"$25,000",1.12,2019-2020,1st,"{'university': 'Duke University', 'pedestrian'..."
25,25,30,University of California - San Francisco,Chemistry and Chemical biology,"$40,000",1.34,2019-2020,1st,"{'university': 'UCSF', 'road': 'Parnassus Aven..."
26,26,31,University of California - San Francisco,Chemistry and Chemical biology,"$40,000",1.34,2019-2020,1st,"{'university': 'UCSF', 'road': 'Parnassus Aven..."
27,27,32,University of Cincinnati,Communication,"$12,550",0.65,2018-2019,1st,"{'university': 'UC', 'road': 'West University ..."
28,28,33,California Institute of Technology,Computing and Mathematical Sciences,"$35,000",1.35,2018-2019,4th,{'university': 'California Institute of Techno...
29,29,34,Duke University,University Program in Genetics and Genomics,"$31,800",1.43,2018-2019,3rd,"{'university': 'Duke University', 'pedestrian'..."
...,...,...,...,...,...,...,...,...,...
4985,4985,6316,New Mexico State University,Astronomy,"$18,058",1.07,2011-2012,2nd,"{'city': 'New Mexico State University', 'count..."
4986,4986,6317,New Mexico State University,Astronomy,"$14,842",0.88,2010-2011,1st,"{'city': 'New Mexico State University', 'count..."
4987,4987,6318,Georgia Institute of Technology,ECE,"$28,083",1.34,2014-2015,2nd,"{'university': 'Georgia Tech', 'pedestrian': '..."
4988,4988,6320,University of Connecticut,Ecology and Evolution,"$21,212",1.01,2013-2014,3rd,"{'school': 'University of Connecticut', 'road'..."
4989,4989,6321,University of Connecticut,Ecology and Evolution,"$22,061",1.05,2014-2015,4th,"{'school': 'University of Connecticut', 'road'..."
4990,4990,6322,University of Connecticut,Ecology and Evolutionary Biology,"$22,000",1.05,2014-2015,3rd,"{'school': 'University of Connecticut', 'road'..."
4991,4991,6324,Georgia State University,Communication,"$15,000",0.71,2011-2012,3rd,"{'school': 'Georgia State University', 'road':..."
4992,4992,6325,University of Mississippi,Biology,"$19,000",1.09,2013-2014,5th,"{'museum': 'University of Mississippi Museum',..."
4993,4993,6326,New Mexico State University,Astronomy,"$32,000",1.89,2014-2015,3rd,"{'city': 'New Mexico State University', 'count..."
4994,4994,6327,University of California - San Diego,Neurosciences,"$31,000",1.31,2013-2014,3rd,"{'university': 'UCSD', 'house_number': '9500',..."
4995,4995,6329,University of Washington,Chemistry,"$26,000",1.30,2012-2013,1st,"{'university': 'University of Washington', 'ro..."
4996,4996,6330,University of Colorado - Boulder,EBIO,"$32,000",1.55,2014-2015,2nd,"{'museum': 'HEND', 'house_number': '1030', 'ro..."
4997,4997,6332,Georgia Institute of Technology,Biomedical Engineering,"$32,000",1.52,2013-2014,3rd,"{'university': 'Georgia Tech', 'pedestrian': '..."
4998,4998,6333,Georgia Institute of Technology,Mechanical Engineering,"$31,200",1.49,2013-2014,6th and up,"{'university': 'Georgia Tech', 'pedestrian': '..."
4999,4999,6334,Harvard University,Epidemiology,"$22,000",0.84,2013-2014,1st,"{'university': 'Harvard University', 'road': '..."
5000,5000,6335,Georgia Institute of Technology,Biomedical Engineering,"$28,000",1.33,2013-2014,4th,"{'university': 'Georgia Tech', 'pedestrian': '..."
5001,5001,6336,Georgia Institute of Technology,Aerospace Engineering,"$26,000",1.24,2013-2014,6th and up,"{'university': 'Georgia Tech', 'pedestrian': '..."
5002,5002,6337,University of Illinois - Urbana- Champaign,Computer Science,"$32,000",1.85,2013-2014,5th,"{'parking': 'B-3', 'road': 'South Mathews Aven..."
5003,5003,6338,Georgia Institute of Technology,Aerospace Engineering,"$33,000",1.57,2013-2014,4th,"{'university': 'Georgia Tech', 'pedestrian': '..."
5004,5004,6339,University of California - San Francisco,Neuroscience,"$32,000",1.20,2013-2014,3rd,"{'university': 'UCSF', 'road': 'Parnassus Aven..."
5005,5005,6340,Stanford University,Graduate School of Education,"$24,000",0.96,2013-2014,4th,"{'university': 'Stanford University', 'road': ..."
5006,5006,6341,Georgia Institute of Technology,Aerospace Engineering,"$33,360",1.59,2012-2013,6th and up,"{'university': 'Georgia Tech', 'pedestrian': '..."
5007,5007,6342,Georgia Institute of Technology,aerospace engineering,"$27,000",1.29,2012-2013,6th and up,"{'university': 'Georgia Tech', 'pedestrian': '..."
5008,5008,6344,Massachusetts Institute of Technology,Math,"$33,000",1.29,2013-2014,6th and up,"{'university': 'MIT', 'road': 'Massachusetts A..."
5009,5009,6345,Massachusetts Institute of Technology,Biology,"$34,000",1.33,2014-2015,6th and up,"{'university': 'MIT', 'road': 'Massachusetts A..."
5010,5010,6347,Duke University,Biochemistry,"$29,840",1.59,2012-2013,6th and up,"{'university': 'Duke University', 'pedestrian'..."
5011,5011,6348,University of Virginia,Chemical Engineering,"$32,000",1.63,2013-2014,4th,"{'university': 'University of Virginia', 'road..."
5012,5012,6349,Duke University,Biomedical Engineering,"$32,000",1.70,2013-2014,2nd,"{'university': 'Duke University', 'pedestrian'..."
5013,5013,6350,University of Virginia,Chemical Engineering,"$25,000",1.28,2013-2014,4th,"{'university': 'University of Virginia', 'road..."
5014,5014,6351,Duke University,Biomedical Engineering,"$27,850",1.48,2013-2014,6th and up,"{'university': 'Duke University', 'pedestrian'..."

In [24]:
stipend_stats['Stipend'] = stipend_stats['Stipend'].str.replace(',', '')
stipend_stats['Stipend'] = stipend_stats['Stipend'].str.replace('$', '')
stipend_stats['Stipend'] = pd.to_numeric(stipend_stats['Stipend'])

In [1]:
(len(stipend_stats)-len(stipend_stats.dropna()))/len(stipend_stats)

NameError: name 'stipend_stats' is not defined

In [27]:
stipend_stats = stipend_stats.dropna().reset_index(drop=True)

In [202]:

i = 0
for loc in stipend_stats['Location']:
    try:
        print(#stipend_stats['University'][i] + ' ' + 
              literal_eval(loc)['county'] + ' ' + 
             str(stipend_stats['LW Ratio'][i]))
        i += 1
    except:
        i += 1
        pass

Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Ingham County 1.61
Denver County 0.92
Dane County 0.91
Suffolk County 1.15
Orange County 1.69
Hamilton County 0.65
Los Angeles County 1.35
Middlesex County 1.44
Riley County 0.86
Champaign County 1.08
Los Angeles County 1.28
Los Angeles County 1.27
San Diego County 1.19
Middlesex County 1.33
Middlesex County 1.37
Suffolk County 1.16
Athens-Clarke County 1.18
Ithaca Town 1.41
Philadelphia County 1.45
Knox County 0.79
Sedgwick County 0.81
Cook County 1.22
Dallas County 0.86
Wayne County 0.67
Montgomery County 1.08
Knox County 1.27
SF 1.27
Wake County 0.79
Franklin County 1.31
Middlesex County 1.34
Oklahoma County 1.29
Monroe County 1.59
Kalamazoo County 0.73
Orange County 1.53
Dane County 1.11
Fulton County 1.76
Allegheny County 1.14
Los Angeles County 1.24
Alameda County 1.28
Allegheny County 1.45
Santa Cruz County 0.73
Galveston County 1.42
Wayne County 0.83
Middlesex County 1.37
Philadelphia County 0.97
La Tour-du-Pin 0.15
Ithaca Town 1.55
Los Angeles County 1.08
Davidson County 1.31
Davidson County 1.31
Philadelphia County 0.97
Monroe County 1.35
New York County 0.84
Lubbock County 0.94
Cook County 1.48
Suffolk County 1.15
Middlesex County 1.23
Suffolk County 0.74
Maricopa County 1.26
Prince George's County 0.6
Athens-Clarke County 1.11
Los Angeles County 0.96
Los Angeles County 1.35
Los Angeles County 1.31
Bristol 1.32
Champaign County 1.14
Philadelphia County 1.06
Tippecanoe County 1.35
Washtenaw County 1.4
Boulder County 1.21
SF 1.34
Bernalillo County 1.09
Santa Barbara County 1.29
Philadelphia County 0.83
Knox County 1.0
Santa Clara County 1.18
Durham County 1.25
East Baton Rouge Parish 0.69
Alachua County 1.67
Albany County 0.81
Saint Joseph County 1.52
Dane County 1.02
Maricopa County 1.21
Mercer County 1.31
Yolo County 1.25
Northampton County 0.67
Wayne County 0.63
SF 1.34
Durham County 1.63
Maricopa County 1.26
Maricopa County 1.49
Multnomah County 1.13
Washtenaw County 1.54
Davidson County 1.68
Bernalillo County 0.81
Philadelphia County 0.97
Philadelphia County 1.06
Durham County 1.75
Dane County 1.18
Mercer County 1.35
Champaign County 0.4
Champaign County 0.41
Champaign County 0.55
Maricopa County 0.75
Orange County 0.95
Alameda County 1.3
New York County 1.37
Orange County 0.81
Boulder County 1.07
Durham County 1.31
SF 1.27
Mercer County 1.46
Centre County 0.98
Montgomery County 1.05
Mercer County 1.83
Orange County 0.72
Mercer County 1.69
Travis County 0.57
Riverside County 1.22
Coconino County 1.2
Middlesex County 1.21
Alameda County 1.22
Philadelphia County 1.05
Wayne County 1.18
Bristol 1.36
Montgomery County 0.68
Los Angeles County 1.49
Oktibbeha County 1.1
City of Saint Louis 1.26
Tolland County 1.04
Santa Clara County 1.41
Middlesex County 0.75
Orange County 0.82
Prince George's County 0.8
New York County 0.8
New York County 0.8
Alameda County 1.1
Ramsey County 1.1
Lane County 0.39
Cook County 1.22
Cache County 0.92
Maricopa County 0.77
Davidson County 1.05
Shelby County 0.71
New York County 0.84
New York County 0.42
Richland County 0.3
Athens-Clarke County 1.17
Washtenaw County 1.37
Miami-Dade County 1.2
Honolulu County 0.96
Miami-Dade County 1.26
Miami-Dade County 1.26
Athens-Clarke County 1.16
Middlesex County 1.38
Suffolk County 1.21
Santa Clara County 1.44
Athens-Clarke County 1.22
Baltimore County 0.81
Washoe County 1.08
Dane County 1.28
Champaign County 0.08
Middlesex County 1.25
Ramsey County 1.37
Hudson County 0.95
Monroe County 1.73
Lane County 1.26
Bristol 1.71
Mercer County 1.32
Guilford County 0.73
Santa Clara County 1.56
Orange County 0.85
Tolland County 0.99
Ithaca Town 1.32
Yolo County 1.13
Middlesex County 0.09
Orange County 1.02
Los Angeles County 1.12
New York County 1.0
Guilford County 0.76
Cook County 1.42
Dane County 1.07
Suffolk County 1.18
Payne County 1.23
Bannock County 0.88
Travis County 1.06
Prince George's County 0.73
Dane County 0.05
Champaign County 1.2
Orange County 0.95
New York County 1.23
Ramsey County 1.1
San Diego County 1.21
Champaign County 1.07
Davidson County 1.62
Travis County 0.88
King County 0.99
Multnomah County 1.6
Orange County 1.02
Saint Joseph County 1.46
Orange County 1.04
Orange County 1.04
Orange County 0.01
Philadelphia County 1.44
Mercer County 1.37
Champaign County 1.82
Champaign County 1.63
Champaign County 1.68
Champaign County 1.68
Champaign County 1.76
Champaign County 1.76
Fulton County 8.28
Champaign County 0.98
Bristol 1.54
Champaign County 1.55
Champaign County 1.2
Alachua County 0.59
Alachua County 1.01
Champaign County 0.93
Philadelphia County 1.04
Alameda County 1.33
Dane County 1.23
Washtenaw County 1.37
New Haven County 1.48
King County 0.99
Wayne County 0.67
New York County 0.88
Alameda County 1.08
Alameda County 1.19
Mercer County 1.18
Centre County 0.76
Alameda County 1.22
Suffolk County 1.02
Ramsey County 0.91
Ramsey County 0.97
Wake County 1.05
Alachua County 1.51
Lane County 1.23
Multnomah County 0.05
Snohomish County 0.96
Durham County 1.43
Erie County 0.83
Yolo County 0.86
Hampshire 1.03
Johnson County 1.1
Onondaga County 0.71
Middlesex County 1.25
Middlesex County 1.39
Maricopa County 1.03
King County 0.97
Los Angeles County 0.81
Santa Clara County 1.56
Santa Clara County 1.31
Orange County 0.5
Washtenaw County 1.25
Dane County 0.98
Santa Clara County 1.29
Washtenaw County 1.07
DeKalb County 1.44
DeKalb County 1.44
Cook County 1.59
Knox County 1.59
Knox County 1.06
New York County 1.0
Franklin County 0.86
Travis County 1.18
Ithaca Town 1.55
Wayne County 0.71
King County 0.85
Cook County 1.35
Ithaca Town 1.36
Los Angeles County 1.18
Washtenaw County 1.17
Orange County 0.9
Washtenaw County 1.09
Middlesex County 1.25
Orange County 0.8
Centre County 1.14
Allegheny County 0.91
City of Saint Louis 1.21
Durham County 1.75
King County 0.93
Coconino County 1.15
Cook County 1.35
Miami-Dade County 1.14
Leon County 0.78
Alameda County 1.3
Los Angeles County 1.44
Los Angeles County 1.31
Los Angeles County 1.31
Los Angeles County 1.31
Los Angeles County 1.31
Tolland County 1.23
Cook County 1.31
Alameda County 1.3
Milwaukee County 1.4
Miami-Dade County 0.88
Miami-Dade County 1.05
Ithaca Town 1.32
Lee County 0.96
City of Saint Louis 1.48
Snohomish County 1.42
Brookings County 2.26
New Haven County 1.45
King County 1.25
Los Angeles County 1.16
Athens County 1.09
Davidson County 1.49
Middlesex County 1.17
Los Angeles County 1.16
Davidson County 1.31
Wayne County 0.96
Monroe County 1.5
Middlesex County 0.72
East Baton Rouge Parish 0.88
Missoula County 0.88
New York County 0.95
Orange County 0.78
Alameda County 1.04
Philadelphia County 1.24
Montgomery County 1.3
Santa Clara County 1.32
Middlesex County 1.39
City of Saint Louis 1.23
Franklin County 0.48
Athens-Clarke County 0.71
Monroe County 0.82
Monroe County 0.93
Monroe County 1.1
Monroe County 0.84
DeKalb County 0.33
SF 1.27
Riverside County 0.75
Worcester 1.42
Milwaukee County 0.7
Boulder County 1.33
Shelby County 1.18
Montgomery County 2.04
Travis County 0.89
Boone County 1.0
Leon County 0.64
Dallas County 1.48
Durham County 1.98
Monroe County 1.36
Houghton County 1.26
Ramsey County 0.88
Monroe County 1.31
East Baton Rouge Parish 0.69
Cuyahoga County 0.45
Athens-Clarke County 0.03
Washtenaw County 1.33
Travis County 1.06
Fulton County 1.09
Leon County 0.6
Tippecanoe County 1.12
Erie County 0.85
DeKalb County 1.3
Alameda County 1.1
Harris County 1.07
Middlesex County 1.31
Riverside County 0.49
Lee County 1.12
Tolland County 0.94
Santa Cruz County 1.16
Philadelphia County 0.94
Alameda County 1.55
Franklin County 1.22
Suffolk County 1.21
Tippecanoe County 1.77
Bannock County 0.98
Ingham County 1.43
Maricopa County 0.84
Multnomah County 1.03
Walker County 0.99
Milwaukee County 0.98
Douglas County 1.1
Los Angeles County 1.22
Durham County 1.39
Santa Clara County 1.4
Alameda County 1.08
Wayne County 0.67
Fulton County 0.47
Houghton County 1.03
Orange County 1.03
City of Saint Louis -0.48
Boone County 1.0
Los Angeles County 1.56
Middlesex County 0.49
Middlesex County 1.06
Santa Cruz County 1.18
Yolo County 1.28
Multnomah County 1.24
New Castle County 0.72
Erie County 0.95
Maricopa County 0.87
Brookings County 1.61
Dane County 1.14
Dane County 1.14
Dane County 1.14
Dane County 1.14
Dane County 1.14
Dane County 1.14
Suffolk County 1.12
Davidson County 1.13
Orange County 1.08
Maricopa County 1.28
Maricopa County 13.45
Wood County 0.67
Summit County 0.64
Summit County 0.91
Hillsborough County 0.73
Santa Clara County 1.29
Baltimore County 0.58
Allegheny County 1.16
Montgomery County 1.03
Shelby County 0.6
Shelby County 0.6
Centre County 1.18
Tippecanoe County 0.79
Fairfax County 0.99
Montgomery County 1.32
Johnson County 0.83
Richland County 0.56
Orange County 0.75
Prince George's County 0.6
Jackson County 0.58
King County 1.12
Orange County 1.08
New York County 1.14
King County 1.32
Fulton County 0.43
Centre County 1.1
San Diego County 1.21
Cook County 0.98
Honolulu County 0.56
Dane County 1.07
New Castle County 0.83
Douglas County 1.25
New York County 1.33
Los Angeles County 1.31
Los Angeles County 1.4
Ithaca Town 1.31
Bristol 1.46
Los Angeles County 1.28
Rockingham County 1.3
Orange County 0.9
Los Angeles County 1.29
DeKalb County 1.31
Los Angeles County 1.31
Cache County 0.94
Orange County 1.57
Dane County 0.92
Maricopa County 1.17
Ithaca Town 1.32
Middlesex County 2.73
New Haven County 1.25
Salt Lake County 1.26
Gallatin County 1.01
Los Angeles County 1.57
San Diego County 0.76
Washington County 1.95
New York County 1.29
Oktibbeha County 0.37
Ramsey County 1.05
Alachua County 1.29
Hampshire 1.1
Los Angeles County 1.16
Middlesex County 1.13
East Baton Rouge Parish 1.38
Champaign County 1.09
Honolulu County 0.7
Cook County 1.22
Story County 1.19
Allegheny County 0.1
Denton County 0.09
Champaign County 0.72
Champaign County 0.65
New Haven County 1.42
Suffolk County 1.07
Fulton County 0.95
Mercer County 0.87
Fulton County 0.97
Middlesex County 1.26
Knox County 0.94
Dane County 1.01
Durham County 1.53
East Baton Rouge Parish 0.85
Wayne County 0.49
Wayne County 0.47
Wayne County 0.67
Durham County 1.41
Northampton County 1.52
Athens-Clarke County 1.1
Middlesex County 1.56
Miami-Dade County 0.83
Santa Clara County 1.35
New York County 1.15
Ingham County 1.3
Boone County 1.31
King County 1.46
SF 1.24
Centre County 1.22
Centre County 1.02
Middlesex County 1.15
Bristol 1.7
Alameda County 1.15
Montgomery County 0.75
Monroe County 1.31
Hamilton County 0.97
Los Angeles County 0.93
Los Angeles County 0.93
Hamilton County 0.61
Tippecanoe County 1.02
Boone County 0.88
Prince George's County 0.81
Prince George's County 0.83
Montgomery County 1.17
Monroe County 1.26
Monroe County 0.13
Clark County 0.64
Orange County 1.12
Champaign County 1.14
Cook County 1.24
Yolo County 0.77
Orange County 0.96
Los Angeles County 1.26
Orange County 0.36
Maricopa County 1.15
Orange County 0.81
Los Angeles County 1.39
Santa Clara County 1.14
Harris County 1.24
Ithaca Town 1.48
Allegheny County 0.89
Maricopa County 0.87
Boulder County 0.8
Maricopa County 0.98
Maricopa County 0.9
New York County 1.07
Montgomery County 0.58
Monroe County 1.26
Marion County 1.31
Wayne County 0.89
Cook County 1.09
Boone County 1.22
Boone County 1.22
Ramsey County 0.71
Cook County 1.52
Gallatin County 1.07
Orange County 0.87
San Diego County 1.4
Bristol 1.32
Providence 0.75
Fulton County 1.04
Orange County 0.86
Davidson County 1.13
Los Angeles County -0.48
Middlesex County 1.29
Los Angeles County 1.14
Ithaca Town 1.45
Bristol County 0.61
Montgomery County 1.03
Alachua County 0.95
Tippecanoe County 0.87
Tippecanoe County 0.12
Washtenaw County 1.41
Athens County 0.81
Story County 1.3
Franklin County 1.38
Harris County 1.37
Allegheny County 1.06
Middlesex County 1.18
Fulton County 0.9
Hamilton County 1.35
Cook County 1.15
Albany County 1.05
Tuscaloosa County 1.1
Fulton County 1.07
Cuyahoga County 1.23
Los Angeles County 1.04
Los Angeles County 1.04
Santa Clara County 1.4
Harris County 0.92
Philadelphia County 0.87
Allegheny County 0.71
Allegheny County 0.08
Salt Lake County 0.88
San Diego County 1.1
Столична 0.9
Los Angeles County 1.31
Allegheny County 0.82
New Haven County 1.56
Fulton County 0.77
Travis County 0.88
Franklin County 1.26
Middlesex County 1.17
Hampshire 0.77
Middlesex County 1.23
Cache County 0.48
Montgomery County 0.75
Monroe County 1.24
Orleans Parish 1.32
Denver County 0.88
Middlesex County 1.26
Salt Lake County 1.15
Middlesex County 0.75
Onondaga County 0.84
Orange County 0.77
Jefferson County 1.0
Lancaster County 0.82
Miami-Dade County 0.71
Cook County 1.31
Middlesex County 1.22
Middlesex County 1.11
New York County 1.18
Tippecanoe County 1.35
Bronx County 0.77
Durham County 1.82
Los Angeles County 1.11
New York County 1.27
Tippecanoe County 0.97
Champaign County 1.17
Denver County 0.89
Maricopa County 0.78
Lancaster County 0.59
Dallas County 1.6
Orleans Parish 0.72
Boulder County 0.75
San Diego County 1.51
Boulder County 0.85
Rockingham County 1.26
Snohomish County 0.79
Salt Lake County 0.7
Centre County 0.89
Utah County 1.11
Allegheny County 1.3
Cook County 1.27
Tippecanoe County 1.32
Harris County 1.37
Lafayette County 1.15
Santa Barbara County 0.75
Ithaca Town 1.79
Travis County 1.07
East Baton Rouge Parish 1.02
Lee County 1.11
Salt Lake County 1.26
Philadelphia County 1.17
Alameda County 1.44
Santa Clara County 1.24
Erie County 0.91
SF 1.2
Northampton County 0.31
Fulton County 1.05
San Diego County 1.13
Cook County 1.23
Ithaca Town 1.53
New Castle County 1.1
DeKalb County 0.64
Fulton County 1.03
Knox County 1.35
Middlesex County 1.2
Philadelphia County 1.31
Durham County 1.37
New York County 1.07
Orange County 1.44
New Castle County 1.16
Cook County 1.27
Washtenaw County 1.11
Fairfax County 0.48
Ithaca Town 1.38
Shelby County 1.56
Washtenaw County 1.28
Pickens County 1.34
San Diego County 1.32
Middlesex County 1.17
Lubbock County 0.89
Riley County 0.53
New York County 0.81
Richland County 0.96
Orange County 0.79
New York County 1.09
Montgomery County 0.91
Erie County 0.97
Worcester 0.11
Salt Lake County 1.53
Middlesex County 1.21
Middlesex County 1.21
Athens-Clarke County 1.18
Athens-Clarke County 1.18
Harris County 1.33
Monroe County 1.33
Boulder County 0.83
Travis County 0.79
Travis County 0.73
San Diego County 0.87
Jackson County 0.55
Santa Clara County 1.39
Salt Lake County 0.85
Los Angeles County 1.0
Santa Clara County 1.54
Santa Clara County 1.39
Fayette County 0.8
Alachua County 1.24
Monongalia County 1.02
Miami-Dade County 0.85
Cook County 1.65
Coconino County 0.85
Saint Joseph County 0.95
Onondaga County 1.58
Fayette County 1.37
Fayette County 1.06
Fayette County 1.22
Fayette County 0.85
Fayette County 0.69
Fayette County 1.15
Fayette County 1.1
Fayette County 0.78
Denton County 0.89
Richland County 0.73
Cass County 0.79
Lafayette County 0.99
Fayette County 1.07
Montgomery County 0.68
Wayne County 1.16
Montgomery County 0.86
Montgomery County 0.72
Montgomery County 0.76
Montgomery County 0.79
Hamilton County 1.41
Durham County 1.53
Fulton County 0.96
Washington County 0.2
Fayette County 0.34
Washtenaw County 1.28
Washtenaw County 0.11
Fayette County 1.21
Montgomery County 0.86
Fayette County 1.22
Centre County 1.32
El Paso County 1.15
Maricopa County 1.09
Tippecanoe County 0.91
Los Angeles County 1.15
Tuscaloosa County 0.83
Tuscaloosa County 0.97
Erie County 0.77
Story County 1.22
Montgomery County 1.25
Orange County 1.3
Wake County 0.59
Snohomish County 1.18
Palm Beach County 0.75
Story County 0.76

Story County 0.07
Cache County 1.62
Cache County 0.81
Wayne County 0.67
Hinds County 1.48
Orange County 0.81
Monroe County 1.26
Middlesex County 1.33
Davidson County 1.22
Athens-Clarke County 0.89
Ingham County 1.24
Philadelphia County 1.16
Yolo County 1.04
Orange County 1.03
Fairfax County 0.54
Suffolk County 1.04
Franklin County 1.35
San Diego County 0.87
Yolo County 1.13
Missoula County 0.88
Boulder County 0.16
DeKalb County 1.25
San Diego County 1.1
King County 1.01
Athens County 0.86
Athens County 0.89
New York County 1.35
Athens-Clarke County 0.6
Wayne County 0.73
Middlesex County 0.61
Orange County 1.33
New York County 1.22
New York County 1.03
Champaign County 1.09
Prince George's County 1.03
Cook County 1.4
Orange County 0.72
Orange County 0.67
Los Angeles County 1.31
Cook County 1.44
Alameda County 0.94
Maricopa County 0.79
Hamilton County 1.4
Boulder County 1.27
Franklin County 1.5
City of Saint Louis 0.94
Fayette County 1.02
Yolo County 0.9
Orange County 0.72
Tulsa County 0.89
Riverside County 0.66
Champaign County 0.9
Palm Beach County 0.8
Ithaca Town 1.41
Durham County 2.02
Riverside County 0.94
Maricopa County 1.0
SF 1.14
DeKalb County 0.91
Cabell County 1.27
Rutherford County 0.39
Essex County 0.92
Chittenden County 0.96
Middlesex County 1.14
Ithaca Town 1.25
Ithaca Town 1.39
Prince George's County 1.19
Knox County 1.02
Knox County 1.02
Knox County 0.94
King County 1.17
Suffolk County 1.1
Alameda County 0.86
Maricopa County 0.89
Guilford County 0.62
Suffolk County 1.12
Ithaca Town 1.32
Travis County 0.85
Saint Joseph County 1.42
New Haven County 1.34
Santa Clara County 1.29
City of Saint Louis 1.04
Ithaca Town 1.32
Kalamazoo County 0.61
New York County 0.84
San Diego County 1.02
Centre County 1.45
Riverside County 1.99
Washoe County 0.78
Dane County 0.97
Middlesex County 1.23
Yolo County 1.02
Harris County 0.9
New York County 1.22
Travis County 0.74
Franklin County 1.24
San Diego County 0.79
Cook County 1.2
Cook County 11.99
Orange County 0.68
Ingham County 0.98
Fayette County 0.57
Albany County 0.37
Bristol 1.19
Santa Cruz County 0.68
Philadelphia County 1.29
New Haven County 1.2
Lee County 0.69
Fulton County 0.91
Knox County 1.3
Orange County 1.09
Suffolk County 0.7
Merced County 0.9
Bristol 1.19
Dallas County 0.74
Travis County 1.01
Travis County 0.88
Middlesex County 1.16
Philadelphia County 1.0
Cook County 1.23
Montgomery County 0.7
Middlesex County 1.03
Orange County 0.77
Davidson County 1.23
Saint Louis County 0.58
San Diego County 0.83
San Diego County 1.04
King County 0.89
Dane County 0.77
Multnomah County 0.87
Cook County 1.11
Allegheny County 1.08
Fayette County 0.7
Ithaca Town 1.53
New York County 1.2
Santa Clara County 1.53
Davidson County 0.87
Santa Cruz County 1.14
Santa Clara County 0.97
Travis County 1.45
Saint Joseph County 1.12
Lubbock County 0.62
Oktibbeha County 0.83
Washtenaw County 1.1
Middlesex County 1.28
New York County 1.03
Jefferson County 0.99
Ithaca Town 1.24
Saint Joseph County 1.37
Wake County 0.71
Boulder County 0.68
Yolo County 0.81
New Castle County 0.72
Hamilton County 1.04
Centre County 0.97
Cook County 1.26
Monongalia County 0.72
Cook County 1.26
Orange County 0.71
Knox County 0.73
Washtenaw County 1.14
Snohomish County 0.63
Durham County 1.26
Orange County 0.69
Santa Clara County 1.21
New York County 0.84
SF 1.2
Franklin County 1.19
Durham County 1.53
Wayne County 0.99
Dallas County 0.93
Dallas County 0.1
Hamilton County 1.55
Leon County 0.53
New York County 0.9
Philadelphia County 1.29
Cache County 0.67
Philadelphia County 0.87
Harris County 1.2
Shelby County 1.01
Shelby County 1.08
Franklin County 1.11
Ingham County 2.3
City of Saint Louis 1.89
Hamilton County 1.54
Washington County 1.97
Champaign County 0.88
Lee County 1.07
San Diego County 1.13
New Haven County 1.29
Davidson County 1.18
Cook County 1.03
Santa Clara County 1.47
Cook County 1.48
Ithaca Town 1.38
Denton County 0.39
Cook County 1.34
Philadelphia County 1.29
Forsyth County 0.46
Guilford County 0.76
New York County 0.61
Cook County 1.35
Ithaca Town 2.27
Alameda County 1.12
Suffolk County 1.08
Prince George's County 1.03
Champaign County 1.59
Saint Joseph County 1.56
Cuyahoga County 1.38
Santa Barbara County 0.7
Champaign County 0.95
Champaign County 0.71
Champaign County 0.47
New York County 0.79
Dane County 0.83
Fulton County 0.66
Montgomery County 1.14
East Baton Rouge Parish 1.04
Athens County 0.82
East Baton Rouge Parish 1.19
Boulder County 1.26
Suffolk County 0.7
Mercer County 1.2
Monroe County 1.56
Allegheny County 1.2
Yolo County 0.81
Yolo County 1.2
Yolo County 0.96
Davidson County 1.24
Yolo County 1.03
Fulton County -0.06
DeKalb County 1.16
DeKalb County 1.05
Wake County 0.76
DeKalb County 0.97
DeKalb County 0.91
DeKalb County 1.07
DeKalb County 1.03
Orleans Parish 1.07
Wood County 1.16
Kodiak Island 1.44
Harris County 1.35
Maricopa County 0.92
Alachua County 0.91
Fulton County -0.01
Fulton County 1.13
Orange County 1.53
Orange County 1.81
Orange County 1.53
Maricopa County 1.31
Centre County 1.54
Orange County 0.94
Orange County 1.17
Tarrant County 0.78
Suffolk County 1.16
Richland County 1.24
Santa Clara County 0.84
Riley County 0.04
Santa Clara County 1.36
Maricopa County 0.86
Los Angeles County 1.44
Philadelphia County 1.33
Philadelphia County 1.29
Harris County 1.51
Mobile County 1.19
Wake County 0.41
Douglas County 0.75
Alameda County 1.74
Wayne County 1.06
Santa Clara County 1.54
Hampshire 0.84
Santa Cruz County 0.94
Miami-Dade County 1.25
Johnson County 0.42
Johnson County 1.28
Durham County 0.74
Story County 0.95
Santa Clara County 1.36
New Castle County 1.34
Monroe County 1.64
Monroe County 1.64
Monroe County 1.37
Davidson County 1.2
Santa Barbara County 1.02
Cook County 1.29
New York County 1.27
Los Angeles County 1.18
Middlesex County 1.17
Fulton County 1.06
Tuscaloosa County 0.71
Alameda County 1.86
Harris County 1.01
Harris County 1.01
Saint Joseph County 1.26
Tippecanoe County 1.01
San Diego County 1.27
Santa Clara County 1.38
Monroe County 1.53
Durham County 1.33
Wood County 0.63
Athens-Clarke County 1.39
Los Angeles County 1.3
Los Angeles County 1.3
Santa Barbara County 1.17
Fulton County 0.43
New Haven County 1.59
Fulton County 1.12
Johnson County 1.29
Wake County 0.94
Fulton County 2.29
Durham County 1.15
Durham County 1.15
Cook County 1.27
Orange County 0.59
Harris County 1.17
Santa Clara County 1.48
Durham County 1.57
Cook County 1.28
Orange County 1.0
Los Angeles County 1.27
Harris County 1.51
Santa Clara County 1.28
Cook County -0.14
Fulton County 1.45
Santa Barbara County 0.75

In [29]:
from ast import literal_eval
#when reading CSV
stipend_stats['Location'] = stipend_stats['Location'].apply(lambda x: literal_eval(x))
loc = stipend_stats['Location'].apply(pd.Series)
loc.columns = map(str.capitalize, loc.columns)

In [102]:
#clean the tables
stipend_loc = pd.concat([loc, stipend_stats], axis = 1)
stipedn_loc = stipend_loc.iloc[:,~stipend_loc.columns.duplicated()]
stipend_loc = stipend_loc.drop(['Location', 'Unnamed: 0', 'Unnamed: 0.1'], axis =1 )

In [104]:
#df.loc[:,~df.columns.duplicated()]
stipend_loc.to_csv('Stipe And Locations.txt', sep='\t')

In [103]:
stipend_loc

,University,Pedestrian,Neighbourhood,City,County,State,Country,Country_code,Road,Postcode,...,City_district,Industrial,Commercial,Station,University,Subject,Stipend,LW Ratio,Academic Year,Program Year
0,Duke University,Union Circle,Trinity Heights,Durham,Durham County,North Carolina,USA,us,NaN,NaN,...,NaN,NaN,NaN,NaN,Duke University,Bioengineering,29700,1.34,2018-2019,3rd
1,University of Colorado Denver,NaN,Auraria,Denver,Denver County,Colorado,United States of America,us,Lawrence Way,80217,...,NaN,NaN,NaN,NaN,University of Colorado - Denver,Molecular Biology PhD,31000,1.38,2019-2020,2nd
2,Michigan State University,NaN,NaN,East Lansing,Ingham County,Michigan,USA,us,Farm Lane,48824,...,NaN,NaN,NaN,NaN,Michigan State University,Physics/Nuclear,33000,1.61,2019-2020,1st
3,University of Denver,NaN,NaN,Denver,Denver County,Colorado,USA,us,NaN,80208,...,NaN,NaN,NaN,NaN,University of Denver,Mathematics,20700,0.92,2019-2020,1st
4,University of California - Los Angeles (Westwood),Bruin Walk,Westwood Village,LA,Los Angeles County,California,USA,us,NaN,90095,...,NaN,NaN,NaN,NaN,University of California - Los Angeles,biology,42000,1.62,2018-2019,1st
5,NaN,NaN,Marquam Hill,Portland,Multnomah County,Oregon,USA,us,Southwest Campus Drive,97239,...,NaN,NaN,NaN,NaN,Oregon Health and Science University,Neuroscience,30000,1.28,2018-2019,1st
6,Wake Forest University,NaN,NaN,Winston-Salem,Forsyth County,North Carolina,USA,us,Wake Forest Road,27106,...,NaN,NaN,NaN,NaN,Wake Forest University,Biomedical Informatics,45000,2.06,2019-2020,1st
7,University of Arizona,NaN,NaN,Phoenix,Maricopa County,Arizona,USA,us,East Polk Street,85004,...,NaN,NaN,NaN,NaN,University of Arizona,Entomology,22022,1.06,2018-2019,1st
8,University of Wisconsin-Madison,NaN,Oakland Heights,Madison,Dane County,Wisconsin,USA,us,NaN,53726,...,NaN,NaN,NaN,NaN,University of Wisconsin - Madison,Computer Sciences,20700,0.91,2019-2020,1st
9,NaN,NaN,NaN,Portland,Multnomah County,Oregon,USA,us,Southwest 6th Avenue,97204,...,NaN,NaN,NaN,NaN,Oregon State University,Microbiology,1600,0.08,2018-2019,2nd
10,University of Central Florida,NaN,NaN,NaN,Orange County,Florida,USA,us,Libra Drive,32816,...,NaN,NaN,NaN,NaN,University of Central Florida,Mechanical Engineering,24000,1.04,2019-2020,1st
11,UC,NaN,NaN,Cincinnati,Hamilton County,Ohio,USA,us,West University Avenue,45219,...,NaN,NaN,NaN,NaN,University of Cincinnati,School Psychology,12540,0.65,2018-2019,1st
12,Clark Atlanta University,NaN,Joel Chandler Harris Homes,Atlanta,Fulton County,Georgia,USA,us,Parsons Street Southwest,30314,...,NaN,NaN,NaN,NaN,Clark Atlanta University,Chemistry,17100,0.73,2019-2020,1st
13,NaN,NaN,Beverlywood,LA,Los Angeles County,California,USA,us,South Crest Drive,90035,...,NaN,NaN,NaN,NaN,Yeshiva University,Biomedical Sciences,35000,1.18,2018-2019,1st
14,MU,NaN,NaN,Oxford,Butler County,Ohio,USA,us,East Vine Street,45056,...,NaN,NaN,NaN,NaN,Miami University,Mechanical Engineering,15800,0.82,2019-2020,1st
15,Northeastern University,NaN,Roxbury Crossing,Boston,Suffolk County,Massachusetts,USA,us,Tremont Street,MA 02118,...,NaN,NaN,NaN,NaN,Northeastern University,Electrical and Computer Engineering,33007,1.15,2018-2019,2nd
16,Stanford University,NaN,NaN,NaN,Santa Clara County,California,USA,us,Palm Drive,94305-6015,...,NaN,NaN,NaN,NaN,Stanford University,Civil and Environmental Enineering,42000,1.46,2019-2020,1st
17,University of California - Los Angeles (Westwood),Bruin Walk,Westwood Village,LA,Los Angeles County,California,USA,us,NaN,90095,...,NaN,NaN,NaN,NaN,University of California - Los Angeles,Electrical Engineering,28000,1.08,2019-2020,1st
18,UC Berkeley,NaN,NaN,Oakland,Alameda County,California,USA,us,Centennial Drive,94720-1076,...,NaN,NaN,NaN,NaN,University of California - Berkeley,MCB,37000,1.33,2019-2020,1st
19,UMN,NaN,NaN,St. Paul,Ramsey County,Minnesota,USA,us,North Brompton Street,55108,...,NaN,NaN,NaN,NaN,University of Minnesota - Twin Cities,German Nordic Slavic and Dutch,23500,1.03,2018-2019,1st
20,UNC-Chapel Hill,NaN,NaN,NaN,Orange County,North Carolina,USA,us,Ehringhaus Drive,275199,...,NaN,NaN,NaN,NaN,University of North Carolina - Chapel Hill,Biomedical Engineering,37500,1.69,2019-2020,1st
21,University of California - Los Angeles (Westwood),Bruin Walk,Westwood Village,LA,Los Angeles County,California,USA,us,NaN,90095,...,NaN,NaN,NaN,NaN,University of California - Los Angeles,Linguistics,33000,1.28,2019-2020,1st
22,Clemson University,NaN,NaN,NaN,Pickens County,South Carolina,USA,us,Old Stadium Road,29631,...,NaN,NaN,NaN,NaN,Clemson University,Automotive,20500,0.98,2018-2019,3rd
23,University of California - Los Angeles (Westwood),Bruin Walk,Westwood Village,LA,Los Angeles County,California,USA,us,NaN,90095,...,NaN,NaN,NaN,NaN,University of California - Los Angeles,Molecular Biology Interdepartmental Doctoral P...,33500,1.29,2019-2020,1st
24,Duke University,Union Circle,Trinity Heights,Durham,Durham County,North Carolina,USA,us,NaN,NaN,...,NaN,NaN,NaN,NaN,Duke University,Public Policy,25000,1.12,2019-2020,1st
25,UCSF,NaN,Inner Sunset,SF,SF,California,USA,us,Parnassus Avenue,94117,...,NaN,NaN,NaN,NaN,University of California - San Francisco,Chemistry and Chemical biology,40000,1.34,2019-2020,1st
26,UCSF,NaN,Inner Sunset,SF,SF,California,USA,us,Parnassus Avenue,94117,...,NaN,NaN,NaN,NaN,University of California - San Francisco,Chemistry and Chemical biology,40000,1.34,2019-2020,1st
27,UC,NaN,NaN,Cincinnati,Hamilton County,Ohio,USA,us,West University Avenue,45219,...,NaN,NaN,NaN,NaN,University of Cincinnati,Communication,12550,0.65,2018-2019,1st
28,California Institute of Technology,San Pasqual Walk,Madison Heights,Pasadena,Los Angeles County,California,USA,us,NaN,91126,...,NaN,NaN,NaN,NaN,California Institute of Technology,Computing and Mathematical Sciences,35000,1.35,2018-2019,4th
29,Duke University,Union Circle,Trinity Heights,Durham,Durham County,North Carolina,USA,us,NaN,NaN,...,NaN,NaN,NaN,NaN,Duke University,University Program in Genetics and Genomics,31800,1.43,2018-2019,3rd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4767,NaN,NaN,NaN,New Mexico State University,Doña Ana County,New Mexico,USA,us,NaN,88003,...,NaN,NaN,NaN,NaN,New Mexico State University,Astronomy,18058,1.07,2011-2012,2nd
4768,NaN,NaN,NaN,New Mexico State University,Doña Ana County,New Mexico,USA,us,NaN,88003,...,NaN,NaN,NaN,NaN,New Mexico State University,Astronomy,14842,0.88,2010-2011,1st
4769,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,ECE,28083,1.34,2014-2015,2nd
4770,NaN,NaN,East Campus,NaN,Tolland County,Connecticut,USA,us,Glenbrook Road,06269,...,NaN,NaN,NaN,NaN,University of Connecticut,Ecology and Evolution,21212,1.01,2013-2014,3rd
4771,NaN,NaN,East Campus,NaN,Tolland County,Connecticut,USA,us,Glenbrook Road,06269,...,NaN,NaN,NaN,NaN,University of Connecticut,Ecology and Evolution,22061,1.05,2014-2015,4th
4772,NaN,NaN,East Campus,NaN,Tolland County,Connecticut,USA,us,Glenbrook Road,06269,...,NaN,NaN,NaN,NaN,University of Connecticut,Ecology and Evolutionary Biology,22000,1.05,2014-2015,3rd
4773,NaN,NaN,Five Points,Atlanta,Fulton County,Georgia,USA,us,Courtland Street Southeast,30303,...,NaN,NaN,NaN,NaN,Georgia State University,Communication,15000,0.71,2011-2012,3rd
4774,NaN,NaN,NaN,Oxford,Lafayette County,Mississippi,United States of America,us,University Avenue,38677,...,NaN,NaN,NaN,NaN,University of Mississippi,Biology,19000,1.09,2013-2014,5th
4775,NaN,NaN,NaN,New Mexico State University,Doña Ana County,New Mexico,USA,us,NaN,88003,...,NaN,NaN,NaN,NaN,New Mexico State University,Astronomy,32000,1.89,2014-2015,3rd
4776,UCSD,NaN,University Center,San Diego,San Diego County,California,USA,us,Gilman Drive,92093,...,NaN,NaN,NaN,NaN,University of California - San Diego,Neurosciences,31000,1.31,2013-2014,3rd
4777,University of Washington,NaN,Montlake,Seattle,King County,Washington,USA,us,Jefferson Road Northeast,98195-2350,...,NaN,NaN,NaN,NaN,University of Washington,Chemistry,26000,1.30,2012-2013,1st
4778,NaN,NaN,The Hill,Boulder,Boulder County,Colorado,USA,us,Broadway,80802,...,NaN,NaN,NaN,NaN,University of Colorado - Boulder,EBIO,32000,1.55,2014-2015,2nd
4779,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,Biomedical Engineering,32000,1.52,2013-2014,3rd
4780,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,Mechanical Engineering,31200,1.49,2013-2014,6th and up
4781,Harvard University,NaN,Old Cambridge,NaN,Middlesex County,Massachusetts,USA,us,John F. Kennedy Street,02163,...,NaN,NaN,NaN,NaN,Harvard University,Epidemiology,22000,0.84,2013-2014,1st
4782,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,Biomedical Engineering,28000,1.33,2013-2014,4th
4783,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,Aerospace Engineering,26000,1.24,2013-2014,6th and up
4784,NaN,NaN,NaN,Urbana,Champaign County,Illinois,USA,us,South Mathews Avenue,61801,...,NaN,NaN,NaN,NaN,University of Illinois - Urbana- Champaign,Computer Science,32000,1.85,2013-2014,5th
4785,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,Aerospace Engineering,33000,1.57,2013-2014,4th
4786,UCSF,NaN,Inner Sunset,SF,SF,California,USA,us,Parnassus Avenue,94117,...,NaN,NaN,NaN,NaN,University of California - San Francisco,Neuroscience,32000,1.20,2013-2014,3rd
4787,Stanford University,NaN,NaN,NaN,Santa Clara County,California,USA,us,Palm Drive,94305-6015,...,NaN,NaN,NaN,NaN,Stanford University,Graduate School of Education,24000,0.96,2013-2014,4th
4788,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,Aerospace Engineering,33360,1.59,2012-2013,6th and up
4789,Georgia Tech,Atlantic Drive Northwest,Bellwood,Atlanta,Fulton County,Georgia,USA,us,NaN,30318,...,NaN,NaN,NaN,NaN,Georgia Institute of Technology,aerospace engineering,27000,1.29,2012-2013,6th and up
4790,MIT,NaN,Central Square,NaN,Middlesex County,Massachusetts,USA,us,Massachusetts Avenue,02238,...,NaN,NaN,NaN,NaN,Massachusetts Institute of Technology,Math,33000,1.29,2013-2014,6th and up
4791,MIT,NaN,Central Square,NaN,Middlesex County,Massachusetts,USA,us,Massachusetts Avenue,02238,...,NaN,NaN,NaN,NaN,Massachusetts Institute of Technology,Biology,34000,1.33,2014-2015,6th and up
4792,Duke University,Union Circle,Trinity Heights,Durham,Durham County,North Carolina,USA,us,NaN,NaN,...,NaN,NaN,NaN,NaN,Duke University,Biochemistry,29840,1.59,2012-2013,6th and up
4793,University of Virginia,NaN,NaN,Charlottesville,NaN,Virginia,USA,us,Emmet Street North,22901,...,NaN,NaN,NaN,NaN,University of Virginia,Chemical Engineering,32000,1.63,2013-2014,4th
4794,Duke University,Union Circle,Trinity Heights,Durham,Durham County,North Carolina,USA,us,NaN,NaN,...,NaN,NaN,NaN,NaN,Duke University,Biomedical Engineering,32000,1.70,2013-2014,2nd
4795,University of Virginia,NaN,NaN,Charlottesville,NaN,Virginia,USA,us,Emmet Street North,22901,...,NaN,NaN,NaN,NaN,University of Virginia,Chemical Engineering,25000,1.28,2013-2014,4th
4796,Duke University,Union Circle,Trinity Heights,Durham,Durham County,North Carolina,USA,us,NaN,NaN,...,NaN,NaN,NaN,NaN,Duke University,Biomedical Engineering,27850,1.48,2013-2014,6th and up